@use "../../styles/variables";
@use "../../styles/mixin";

.dicebg {
  @include mixin.flex-center;
  background-color: variables.$base-white;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  padding: 1.5rem;

  .dice {
    background-color: variables.$dice-color;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.3rem;
    padding: 0.5rem;

    .cell {
      @include mixin.flex-center;
    }

    .dot {
      background-color: variables.$base-white;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

@media (max-width: 600px) {
  .dicebg {
    transform: scale(0.5);
  }
}
