@import "../../styles/variables";
@import "../../styles/mixin";

.button {
  @include transition-all();
  background-color: $bg-button;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $button-hover;
  }

  &:disabled {
    background-color: $button-disabled;
  }
}

@media (min-width: 500px) {
  .button {
    width: 8rem;
  }
}
