@use "../../styles/variables";
@use "../../styles/mixin";

.button {
  @include mixin.transition-all;
  background-color: variables.$bg-button;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: variables.$button-hover;
  }

  &:disabled {
    background-color: variables.$button-disabled;
  }
}

@media (min-width: 500px) {
  .button {
    width: 8rem;
  }
}
