// main-color
$primary-color: #229799;
$secondary-color: #48cfcb;
$base-white: #f5f5f5;
$base-black: #161616;
$overlay-color: #16161660;

// dice
$dice-color: salmon;

// player
$active-player-opacity: 1;
$inactive-player-opacity: 0.5;

// button
$bg-button: #eeeeee;
$button-hover: salmon;
$button-disabled: gray;
