@use "./reset" as *;
@use "./mixin";
@use "./variables";

#root {
  @include mixin.fill-element;
  @include mixin.flex-center;
  background-color: variables.$base-black;
  padding: 1rem;
}

.app {
  @include mixin.fill-element;
  background-color: variables.$primary-color;
  color: variables.$base-white;
  max-width: 1400px;
  max-height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

ol {
  padding-left: 0.5em;
}

ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 1em;
}

@media (max-width: 600px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    overflow: hidden;
  }
}
